<!DOCTYPE html>
<html>
<head>
  <title>email already subscribed</title>
</head>
<body>
    <header></header>
  <h1>Subscribed already!</h1>
  <image src=""></image>
  <p>Ahh! It seems that you have subscribed already.</p>
  <p></p>
</body>
</html>