<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width-device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

  <title>BlogConnect</title>
</head>
<body>
  <header>
    BlogConnect
  </header>
  
  <div class="newsletterForm">
      <h2>Subscribe to my newsletter</h2>
      <p>Read Hashnode Blogs directly from your inbox. Subscribe to the newsletter. </p>
      <form action="/" method="post"></form>
         <input class="email-input" type="email" name="email" placeholder="Enter your email address" required>
         <button class="btn" type="submit">Subscribe</button>
    </form>
    </div>
    <footer>
       &copy; 2023 aayushcodes
    </footer>
</body>
</html>