<!DOCTYPE html>
<html>
<head>
  <title>BlogConnect</title>
</head>
<body>
    <header>BlogConnect</header>
  <h1>Newsletter</h1>
  <image></image>
  <p>Subscribe to BlogConnect and get notified when I post new blogs on Hashnode.</p>
  <form action="/" method="post">
    <input type="email" name="email" placeholder="Enter your email" required>
    <button type="submit">Subscribe</button>
  </form>
  <script src="./js/build.js"></script>
</body>
</html>