<!DOCTYPE html>
<html>
<head>
  <title>Subscribed</title>
</head>
<body>
    <header></header>
  <h1>Subscription Confirmed</h1>
  <image src=""></image>
  <p>Your subscription to our list has been confirmed.</p>
  <p>Thank you for subscribing!</p>
</body>
</html>